body{
    box-sizing: border-box;
}

/**HEADER**/
header{
    background-color: #FFE521; 
    border: 1.5px solid #cfc9c977;
    height:auto;
    left: 0;
    position:fixed;
    top: 0;
    width:100vw;
    z-index: 1;
}

a img{
    max-height: 13vh;
    margin-left: 40vw;
    width: 35%;
}
/**CONTENEDOR MAIN**/
main{
    height: auto;
    left: 0;
    position: relative;
    top: 4.5rem;
    width: 100%;
}

/**SECTION TITULO-GENERACION**/
section#contain-loc-gen{
    height: auto;
    margin-left: 2rem;
    width: 35%;
    
}

/**TITULO-SEDE**/
h1#name-location{
    font-family: 'Handlee', cursive;
    font-size: 2rem;
    font-weight: bold;
    width: auto;
}

/**SUBTITULO PARA ESCOGER GENERACION**/
section#contain-loc-gen > h4{
    font-family:'Roboto', sans-serif;
    margin-bottom:0;
    width: 11rem;
}

/**MENU DE GENERACION**/
select#menu-generation{
    background-color:#ffffff;
    border: 1px solid #c6c6c6;
    border-radius: 5%;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    height: auto;
    width: 11rem;
}
 
/*DESHABILITAR OPTION EN BLANCO*/
#first-option{
    display: none;
};

/**PESTANAS/TABS**/
section#contain-menu{
    height: auto;
    width: 90%;

}

section > ul{
    display:inline-block;
    height: auto;
    margin-top: 3rem;
    position: relative;
    width: 95%;
}

li.tab{
    background-color: rgba(248, 220, 6, 0.486);
    border-radius: 5%;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    height: auto;
    list-style: none;
    margin-left:-0.2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    width: auto;
}

#contain-menu{
    display: none;
}


/*Opciones*/
.option{
    background-color: rgba(250, 240, 169, 0.849);
    color: rgba(194, 32, 32, 0.924);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}


/******************RESULTADOS GENERALES POR SEDE************************/
section#contain-total-sede{
    /* display: inline-block; */
    height: 10rem;
    margin-left: 2rem;
    position: relative;
    right: 0;
    top: 2rem;
    width: 100%;
}

#students-general{
    background-color: rgba(128, 128, 128, 0.05);
    float: left;
    height: 8rem;
    margin: 0;
    padding: 0.2rem;
    text-align: center;
    width:8rem; 
}

.text{
    font-family: 'Handlee', cursive;
    text-align: center;
}

.studentsPerSede{
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

#students-actives{
    background-color: rgba(128, 128, 128, 0.05);
    height: 8rem;
    margin-left: 11rem;
    margin-top: 0;
    padding: 0.2rem;
    text-align: center;
    width:8rem; 
}

#students-inactives{
    background-color: rgba(128, 128, 128, 0.05);
    float: left;
    height: 8rem;
    margin-left: 21.5rem;
    margin-top: -8.4rem;
    padding: 0.2rem;
    text-align: center;
    width:8rem; 
}

/**********************RESULTADOS POR GENERACION****************/
.main-box{
    background-color:rgba(248, 220, 6, 0.486);
    height: auto;
    margin-left: -0.2rem;
    margin-top: -1rem;
    top:0;
    width: auto;        
}

.box{
    height: auto;
    margin-top:1rem;
    padding: 0.5rem;
    text-align: center;
    width:10rem; 
}

#box-coaches{
    height: auto;
    margin-top:-0.1rem;
    padding: 0.5rem;
    text-align: center;
    width:20rem; 
}

#grades-coaches{
    height: auto;
    margin-top:1rem;
    margin-left: 2rem;
    padding: 0.5rem;
    text-align: center;
    width:10rem;  
}

#box-jedis{
    height: auto;
    margin-top:-0.05rem;
    padding: 0.5rem;
    text-align: center;
    width:20rem; 
}

#grades-jedis{
    height: auto;
    margin-top:1rem;
    margin-left: 2rem;
    padding: 0.5rem;
    text-align: center;
    width:10rem;  
}




